<footer style="background-color: red;   position:absolute;  width:100%; margin-top: 10%;">
  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="crp">© 2023 Agenda Corporativa. Derechos reservados.</p>
          <!--ul class="bottom_menu">
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Politica de privacidad</a></li>
          </ul-->
        </div>
      </div>
    </div>
  </div>

</footer>
