<!--div class="section layout_padding" style="background-color: #ebebeb;">
  <div class="container center ">

    <div class="row">

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngFor="let contacto of listaContacto"
          style="padding-bottom: 20px;">
          <mat-card>

            <iframe [src]='contacto.ubucacion | safe' width="100%" height="100%" frameborder="0" allowfullscreen
              webkitallowfullscreen mozallowfullscreen>
            </iframe>

            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"
                [ngClass]="{'disabled-color': !contacto.activo, 'enabled-color':contacto.activo}">
                <span class="colorTexto">
                  <mat-icon matSuffix>mail</mat-icon>
                </span><span>{{contacto.correo}}</span><br />
                <span class="colorTexto">
                  <mat-icon matSuffix>phone</mat-icon>
                </span><span>+52 {{contacto.telefono1 | phone}}</span><br />
                <span class="colorTexto">
                  <mat-icon matSuffix>phone</mat-icon>
                </span><span>+52 {{contacto.telefono2 | phone }}</span><br />
                <span class="colorTexto">
                  <mat-icon matSuffix>phone</mat-icon>
                </span><span>+52 {{contacto.telefono3 | phone }}</span><br />
              </div>

              <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4"
                [ngClass]="{'disabled-color': !contacto.activo, 'enabled-color':contacto.activo}">
                <span class="texto-font">Codigo Postal: </span><span>{{contacto.codigoPostal}}</span><br />
                <span class="texto-font">Estado: </span><span>{{contacto.estado}}</span><br />
                <span class="texto-font">Municipio: </span><span>{{contacto.municipio}}</span><br />
                <span class="texto-font">Colonia: </span><span>{{contacto.colonia}}</span><br />
                <span class="texto-font">Calle: </span><span>{{contacto.calle}}</span><br />
                <span class="texto-font">No. Exterior: </span><span>{{contacto.numeroExterior}}</span><br />
                <span class="texto-font">No. Interior: </span><span>{{contacto.numeroInterior}}</span><br />
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="row">

                  <div class="col-4 col-sm-4 col-md-4 col-lg-12 col-xl-12" style="margin-top: 10px;">
                    <button [disabled]="!contacto.activo" mat-mini-fab class="success-button"
                      aria-label="Example icon button with a filter list icon"
                      (click)="condultarContactoById(contacto)">
                      <mat-icon>create</mat-icon>
                    </button>
                  </div>

                  <div class="col-4 col-sm-4 col-md-4 col-lg-12 col-xl-12" style="margin-top: 10px;"
                    (click)="eliminar(contacto)">
                    <button [disabled]="!contacto.activo" mat-mini-fab color="warn"
                      aria-label="Example icon button with a filter list icon">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>

                  <div class="col-4 col-sm-4 col-md-12 col-lg-12 col-xl-12" style="margin-top: 10px;">
                    <button [ngClass]="{'success-button': !contacto.activo}" mat-mini-fab color="warn"
                      aria-label="Example icon button with a filter list icon" (click)="desablilitar(contacto)">
                      <mat-icon>{{!contacto.activo ? 'check':'block'}} </mat-icon>
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
        <mat-card>
          <mat-toolbar>
            <span class="fill-remaining-space">Contactos</span>
          </mat-toolbar>

          <mat-card-content>

            <form [formGroup]="formulario" class="form">
              <div class="example-container">

                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field appearance="fill" class="form-element">
                      <mat-label>Correo</mat-label>
                      <input ng-disabled="componenteActivo" formControlName="correo" matInput
                        placeholder="Nombre del producto">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      <mat-error *ngFor="let validation of validationMessages().email">
                        <mat-error class="error-message"
                          *ngIf="formulario.get('correo')!.hasError(validation.type) && (formulario.get('correo')!.dirty || formulario.get('correo')!.touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field appearance="fill" class="form-element">
                      <mat-label>Telefono 1</mat-label>
                      <input (keypress)="validadorPhone($event)" formControlName="telefono1" matInput
                        placeholder="Telefono 1">
                      <mat-icon matSuffix>phone</mat-icon>
                      <mat-error *ngFor="let validation of validationMessages().phone">
                        <mat-error class="error-message"
                          *ngIf="formulario.get('telefono1')!.hasError(validation.type) && (formulario.get('telefono1')!.dirty || formulario.get('telefono1')!.touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field appearance="fill" class="form-element">
                      <mat-label>Telefono 2</mat-label>
                      <input (keypress)="validadorPhone($event)" formControlName="telefono2" matInput
                        placeholder="Telefono 2">
                      <mat-icon matSuffix>phone</mat-icon>
                      <mat-error *ngFor="let validation of validationMessages().phone">
                        <mat-error class="error-message"
                          *ngIf="formulario.get('telefono2')!.hasError(validation.type) && (formulario.get('telefono2')!.dirty || formulario.get('telefono2')!.touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field appearance="fill" class="form-element">
                      <mat-label>Telefono 3</mat-label>
                      <input (keypress)="validadorPhone($event)" formControlName="telefono3" phone matInput
                        placeholder="Telefono 3">
                      <mat-icon matSuffix>phone</mat-icon>
                      <mat-error *ngFor="let validation of validationMessages().phone">
                        <mat-error class="error-message"
                          *ngIf="formulario.get('telefono3')!.hasError(validation.type) && (formulario.get('telefono3')!.dirty || formulario.get('telefono3')!.touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field appearance="fill" class="form-element">
                      <mat-label>Codigo postal</mat-label>
                      <input (keypress)="validadorNumeros($event)" formControlName="codigoPostal" matInput
                        placeholder="Codigo postal">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      <mat-error *ngFor="let validation of validationMessages().text">
                        <mat-error class="error-message"
                          *ngIf="formulario.get('codigoPostal')!.hasError(validation.type) && (formulario.get('codigoPostal')!.dirty || formulario.get('codigoPostal')!.touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field appearance="fill" class="form-element">
                      <mat-label>Estado</mat-label>
                      <input formControlName="estado" matInput placeholder="Estado">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      <mat-error *ngFor="let validation of validationMessages().text">
                        <mat-error class="error-message"
                          *ngIf="formulario.get('estado')!.hasError(validation.type) && (formulario.get('estado')!.dirty || formulario.get('estado')!.touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field appearance="fill" class="form-element">
                      <mat-label>Municipio</mat-label>
                      <input formControlName="municipio" matInput placeholder="Descripción del producto">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      <mat-error *ngFor="let validation of validationMessages().text">
                        <mat-error class="error-message"
                          *ngIf="formulario.get('municipio')!.hasError(validation.type) && (formulario.get('municipio')!.dirty || formulario.get('municipio')!.touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field appearance="fill" class="form-element">
                      <mat-label>Colonia</mat-label>
                      <input formControlName="colonia" matInput placeholder="Descripción del producto">
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      <mat-error *ngFor="let validation of validationMessages().text">
                        <mat-error class="error-message"
                          *ngIf="formulario.get('colonia')!.hasError(validation.type) && (formulario.get('colonia')!.dirty || formulario.get('colonia')!.touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field appearance="fill" class="form-element">
                      <mat-label>Calle</mat-label>
                      <input formControlName="calle" matInput placeholder="Descripción del producto">
                      <mat-icon matSuffix>streetview</mat-icon>
                      <mat-error *ngFor="let validation of validationMessages().text">
                        <mat-error class="error-message"
                          *ngIf="formulario.get('calle')!.hasError(validation.type) && (formulario.get('calle')!.dirty || formulario.get('calle')!.touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field appearance="fill" class="form-element">
                      <mat-label>Numero exterior</mat-label>
                      <input formControlName="numeroExterior" matInput placeholder="Descripción del producto">
                      <mat-icon matSuffix>streetview</mat-icon>
                      <mat-error *ngFor="let validation of validationMessages().text">
                        <mat-error class="error-message"
                          *ngIf="formulario.get('numeroExterior')!.hasError(validation.type) && (formulario.get('numeroExterior')!.dirty || formulario.get('numeroExterior')!.touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <mat-form-field appearance="fill" class="form-element">
                      <mat-label>Numero interior</mat-label>
                      <input formControlName="numeroInterior" matInput placeholder="Descripción del producto">
                      <mat-icon matSuffix>streetview</mat-icon>
                      <mat-error *ngFor="let validation of validationMessages().text">
                        <mat-error class="error-message"
                          *ngIf="formulario.get('numeroInterior')!.hasError(validation.type) && (formulario.get('numeroInterior')!.dirty || formulario.get('numeroInterior')!.touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <mat-form-field appearance="fill" class="form-element">
                  <mat-label>Ubicacion</mat-label>
                  <input formControlName="ubucacion" matInput placeholder="Descripción del producto">
                  <mat-icon matSuffix>location_on</mat-icon>
                  <mat-error *ngFor="let validation of validationMessages().text">
                    <mat-error class="error-message"
                      *ngIf="formulario.get('ubucacion')!.hasError(validation.type) && (formulario.get('ubucacion')!.dirty || formulario.get('ubucacion')!.touched)">
                      {{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>

              </div>
            </form>
          </mat-card-content>


          <mat-card-actions>
            <mat-divider></mat-divider>
            <section>
              <div class="example-button-row " style=" display: flex;
          justify-content: right;">


                <div class="example-button-container" style="padding: 10px;">
                  <button [disabled]="componenteActivo ||  formulario.invalid" mat-mini-fab color="primary"
                    aria-label="Example icon button with a menu icon" (click)="guardar()">
                    <mat-icon>save</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </mat-card-actions>

        </mat-card>

      </div>
    </div>

  </div>
</div-->
