


/*
.mat-header-row::ng-deep {
  background-color: #072146;
}*/



.colorTexto {
  color: black !important;
  font-size: 14px;
  font-weight: bold;
  font-family: Tahoma, sans-serif;
}

.colorDivTable {
  background-color: white;
}


/*
.mat-table::ng-deep {
  border: 1px solid red;
}*/
