<!--p>
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
</p-->

<!--p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p-->

<!--p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Administrador Grupo Jimesa</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
      (click)="cerrarSesion()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-toolbar>
</p-->

background: #072146;
<mat-toolbar class="mat-elevation-z8 my-toolbar ">
  <span>Agenda Corporativa</span>
  <span class="example-spacer"></span>
  <!--button mat-button (click)="home()">
    <mat-icon>home</mat-icon>
    Inicio
  </button>

  <button mat-button (click)="catalogoUsuarios()">
    <mat-icon>supervised_user_circle</mat-icon>
    Usuarios
  </button>

  <button mat-button (click)="catalogoServicios()">
    <mat-icon>supervised_user_circle</mat-icon>
    Servicios
  </button>

  <button mat-button (click)="catalogoCategorias()">
    <mat-icon> list_alt</mat-icon>
    Categorias
  </button-->

  <button mat-button (click)="eventos()">
    <mat-icon>home</mat-icon>
    Eventos
  </button>

  <button mat-button (click)="participantes()">
    <mat-icon>supervised_user_circle</mat-icon>
    Participantes
  </button>

  <button mat-button (click)="participantes()">
    <mat-icon>supervised_user_circle</mat-icon>
    Mis Eventos
  </button>

  <!--button mat-button (click)="contactos()">
    <mat-icon>contacts</mat-icon>
    Contactos
  </button-->

  <span class="example-spacer"></span>
  <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
  <button mat-icon-button class="example-icon" (click)="cerrarSesion()" aria-label="Example icon-button with menu icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>




<!--p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p-->
